alembic==1.13.2
annotated-types==0.7.0
anyio==4.6.0
APScheduler==3.10.4
attrs==24.2.0
bitarray==2.9.2
blinker==1.8.2
certifi==2024.7.4
charset-normalizer==3.3.2
ckzg==2.0.1
click==8.1.7
colorama==0.4.6
cytoolz==1.0.0
distro==1.9.0
dnspython==2.6.1
email_validator==2.2.0
eth-account==0.13.4
eth-hash==0.7.0
eth-keyfile==0.8.1
eth-keys==0.5.1
eth-rlp==2.1.0
eth-typing==5.0.0
eth-utils==5.0.0
eth_abi==5.1.0
Flask==3.0.3
Flask-Login==0.6.3
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
frozenlist==1.4.1
geosky==1.0.9
greenlet==3.0.3
h11==0.14.0
hexbytes==1.2.1
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.2
idna==3.7
instaloader==4.13.1
itsdangerous==2.2.0
Jinja2==3.1.4
jiter==0.6.1
magic-filter==1.0.12
Mako==1.3.5
MarkupSafe==2.1.5
multidict==6.1.0
mysqlclient==2.2.4
openai==1.51.2
parsimonious==0.10.0
pillow==10.4.0
pycryptodome==3.21.0
pycryptodomex==3.20.0
pydantic==2.7.1
pydantic_core==2.18.2
pyparsing==3.1.2
PySocks==1.7.1
python-telegram-bot==21.6
pytz==2024.1
pyunormalize==16.0.0
pywin32==307
regex==2024.9.11
requests==2.32.3
rlp==4.0.1
simplejson==3.19.2
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.32
toolz==1.0.0
tqdm==4.66.5
types-requests==2.32.0.20240914
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
urllib3==2.2.2
web3==7.3.0
websockets==13.1
Werkzeug==3.0.3
WTForms==3.1.2
yarl==1.12.0
