{% extends base.html %}

{% block content %}

<h1>Buy points</h1>
<div class="container">
    <div class="row">
        <div class="price-card">
            <div class="content">
                <h3>10 <span>USDT</span></h3>
                <hr>
                <p>50 Points</p>
                <p class="point-cost">1 Point = 0.2 USDT</p>
            </div>
            <button type="button" class="btn btn-success">Buy Now</button>
        </div>
        <div class="price-card">
            <div class="content">
                <h3>98 <span>USDT</span></h3>
                <hr>
                <p>700 Points</p>
                <p>2 shops</p>
                <p>AI checking of comments</p>
                <p class="point-cost">1 Point = 0.14 USDT</p>
            </div>
            <button type="button" class="btn btn-success">Buy Now</button>
        </div>
        <div class="price-card">
            <div class="content">
                <h3>300 <span>USDT</span></h3>
                <hr>
                <p>3000 Points</p>
                <p>3 and more shops</p>
                <p>AI checking of comments</p>
                <p class="point-cost">1 Point = 0.1 USDT</p>
            </div>
            <button type="button" class="btn btn-success">Buy Now</button>
        </div>
    </div>
</div>

{% endblock %}