<div class="nav-panel">
    <div class="main">
        <ul>
            <li><a href="{{ url_for('admins.index') }}">Dashboard</a></li>
            <li><a href="{{ url_for('admins.all_users') }}">Users</a></li>
            <li><a href="{{ url_for('admins.all_bonusactions') }}">Bonus Actions</a></li>
            <li><a href="{{ url_for('admins.all_rewardactions') }}">Reward Actions</a></li>
            <li><a href="{{ url_for('admins.all_certificates') }}">Active Certificates</a></li>
            <!-- <li><a href="{{ url_for('admins.all_certificates') }}">Bonus Bases</a></li> -->
        </ul>
    </div>
    <div class="settings">
        <ul>
            <li><a href="#">Bonuses</a></li>
            <li><a href="#">Rewards</a></li>
            <li><a href="#">Certificates</a></li>
            <li><a href="#">Company Settings</a></li>
            <li><a href="#">Channels</a></li>
        </ul>
    </div>
    <div class="profile">
        <ul>
            <li><a href="#">My Profile</a></li>
            <li><a href="#">Help</a></li>
        </ul>
    </div>
</div>