{% extends 'base.html' %}

{% block content %}

<h1>Home Page</h1>


{% if refferer_id %}
    <a href="{{ url_for('main.admin_signup', referrer_id=refferer_id) }}">Sign Up as Admin</a>
    <a href="{{ url_for('main.user_signup', referrer_id=refferer_id) }}">Sign Up as User</a>
{% else %}
    <a href="{{ url_for('main.user_signup') }}">Sign Up as User</a>
    <a href="{{ url_for('main.admin_signup') }}">Sign Up as Admin</a>
{% endif %}


<a href="{{ url_for('main.login') }}">Login</a>

{% endblock %}