{% extends 'base.html' %}
{% block content %}
<div class="rich_text"><h2 id="rationallife-privacy-policy" tabindex="-1">RationalLife Privacy Policy</h2>
<p>At RationalLife, Inc. (“<strong>RationalLife</strong>”, “<strong>we</strong>, <strong>us</strong>”) we consider the privacy and the security of personal data to be extremely important.</p>
<p>We process personal data for (1) our own purposes and (2) under instructions of our customers who use RationalLife service (“<strong>Service</strong>”), upload and keep certain information in it. In the second case, we strictly adhere to customers’ instructions and do not use data for any other purposes than providing the Service.</p>
<p>In this Privacy Policy, we describe how we process the personal data of the following data subjects for our own purposes:</p>
<ul>
<li>our customers, their end users and representatives,</li>
<li>website users,</li>
<li>newsletter subscribers,</li>
<li>potential customers,</li>
<li>our counterparties and their representatives.</li>
</ul>
<p>It covers information collected in the Service, on our website <a href="https://rationallife.pythonanywhere.com/">www.rationallife.pythonanywhere.com</a>, or other websites administered by RationalLife where Privacy Policy is placed (the “<strong>Site</strong>”), in our Mobile apps and in other sources.</p>
<p>If you have any questions or suggestions concerning our privacy practices, please email us at&nbsp;<a href="mailto:privacy@rationallife.pythonanywhere.com">privacy@rationallife.pythonanywhere.com</a>. Please also send us an email, if you would like to request data access or deletion, or to exercise other rights as a data subject.</p>
<h4 id="table-of-contents" tabindex="-1">Table of Contents</h4>
<ol>
<li>
<p><a href="#1.-how-we-collect-personal-data">How We Collect Personal Data</a></p>
</li>
<li>
<p><a href="#2.-what-types-of-personal-data-we-process">What Types of Personal Data We Process</a></p>
</li>
<li>
<p><a href="#3.-for-which-purposes-we-use-personal-data">For Which Purposes We Use Personal Data</a></p>
</li>
<li>
<p><a href="#4.-how-we-share-personal-data">How We Share Personal Data</a></p>
</li>
<li>
<p><a href="#5.-your-data-protection-rights-choices">Your Data Protection Rights &amp; Choices</a></p>
</li>
<li>
<p><a href="#6.-for-how-long-we-retain-personal-data">For How Long We Retain Personal Data</a></p>
</li>
<li>
<p><a href="#12.-changes-to-our-privacy-policy">Changes to Our Privacy Policy</a></p>
</li>
<li>
<p><a href="#13.-how-to-contact-us">How to Contact Us</a></p>
</li>
</ol>
<h3 id="1.-how-we-collect-personal-data" tabindex="-1">1. How We Collect Personal Data</h3>
<p>What personal data we collect depends largely on the interaction that takes place between you and RationalLife, most of which can be categorized under the following:</p>
<ul>
<li>
<p><strong>When you use RationalLife Service.</strong>&nbsp;When you use RationalLife Service, we store all the content you provide, including information related to you as a customer or an end user of the Service. We gather this information from you directly when you enter it, or from integrations that you linked to the Service (Facebook, Instagram, etc.). When you ask us to sign DPA or other documents, we also receive data about you and your representatives.</p>
<p>In some cases, we can receive information from third parties, e.g. from a payment service provider on whether your payment was successful.</p>
</li>
<li>
<p><strong>When you send us emails or message us.</strong>&nbsp;When we receive emails or messages from you in the chat, we can store the content of such emails, attachments as well as your contact details.</p>
</li>
<li>
<p><strong>When you submit forms on the Site or participate in our events.</strong>&nbsp;When you complete forms on the Site (contact us, subscription, demo request, event registration, etc.) we collect your contact details and information you complete in the form. If we arrange joint events together with our partners, we can receive information from our partners.</p>
</li>
<li>
<p><strong>When you use the Site.</strong>&nbsp;When you use the Site, we collect certain information, as described in more detail below that may, alone or in combination with other information, constitute personal data (e.g. cookie files).</p>
</li>
<li>
<p><strong>When you join our communities.</strong> When you join our Facebook and other groups, we can see data in your profile and process comments you posted in our groups. However, we don’t gather that information or copy it into our systems, but rather just have access to it.</p>
</li>
</ul>
<h3 id="2.-what-types-of-personal-data-we-process" tabindex="-1">2. What Types of Personal Data We Process</h3>
<p>We collect and process the following personal data:</p>
<ul>
<li><strong>Customer account details</strong>. To create or update your account and provide the Service we collect from you and third-party integrations (e.g. Facebook, Instagram) information about you, as a customer or end-user of the Service. This includes id, name, email, status, linked pages and accounts, products in use, location, etc.</li>
<li><strong>Financial information</strong>. To process your payments for the Service subscription, we need your credit card details (last four digits of the card number), account details and payment information.</li>
<li><strong>Contact details and business data</strong>. We receive information about our customers and potential customers for cooperation and communication purposes. This includes full name, title, company, email or other contact details as may be necessary.</li>
<li><strong>Requests, messages and submitted forms</strong> <strong>details</strong>. We receive and process your messages, support requests, emails and information you share with us via online forms or social media accounts. This includes the content of such communications as well as your contact details if any.</li>
<li><strong>Usage data, logs and other technical data</strong>. When you interact with the Service, metadata and log files are collected automatically. Log data may include the Internet Protocol (IP) address, your browser type and settings, the date and time you used the Service, information about browser configuration plugins, language preferences, the pages or features which you browsed, time spent on those pages or features, the frequency of pages and functions use, the links clicked on or used. If you use the Service from your phone, this may also include the type of device, operating system, device settings and device identifiers.</li>
<li><strong>Email performance data</strong>. To track engagement and performance metrics of our newsletters, we can use a ‘clear image’ (gif) in email communications. Much of this data is aggregated. If you wish to turn off this tracking, you can do so by turning off images in the email itself.</li>
<!-- <li><strong>Website cookies and similar technologies</strong>. We use cookie technology on the Site. See details in <a href="https://rationallife.pythonanywhere.com/legal/cookies-statement">Cookie Statement</a>.</li> -->
<li><strong>Customer Content</strong>. As you use our Service, you may import into our system personal data you have collected from your users, customers, prospective customers, social media and messaging platform contacts (collectively “<strong>Subscribers</strong>”) or other individuals. We process this data only on your behalf as our customer. We have no direct relationship with your Subscribers or any person other than you.</li>
</ul>
<p>We ask that you not send or disclose to us any sensitive personal data (e.g., social security numbers, information related to racial or ethnic origin, political opinions, religion or other beliefs, health, biometrics or genetic characteristics, criminal background or union membership) on or through the Service or otherwise.</p>
<h3 id="3.-for-which-purposes-we-use-personal-data" tabindex="-1">3. For Which Purposes We Use Personal Data</h3>
<p>We collect and process your personal data for the following purposes:</p>
<ul>
<li>
<p><strong>To operate the Service</strong>: We use data to enter into the agreement with you as a customer and operate, maintain and administer your account in the Service, as well as to communicate with you regarding the account (sending announcements, technical notices, updates, security alerts, and support and administrative messages) and to respond to Service-related requests, questions and feedback. We also use your data to perform our billing obligations.</p>
<!-- <p>To provide the Service we process Customer Content information on your behalf as a customer (see details in <a href="https://rationallife.pythonanywhere.com/legal/dpa">Data Processing Addendum</a>).</p> -->
</li>
<li>
<p><strong>To communicate with you and inform you about the Service.</strong>&nbsp;If you request information from us, register for the Service, complete a form or feedback on a Site, or participate in our surveys, promotions or events, we may send you RationalLife-related marketing communications if permitted by law. In all such communications, we will provide you with the possibility to opt-out.</p>
</li>
<li>
<p><strong>To conduct events and communicate with you</strong>. We use your personal data, which you provided while registering for the event, to send you reminders about the event, communications related to the event and RationalLife-related services. As well, we may ask for your feedback. In communications, we always provide the possibility to opt-out from communications.</p>
</li>
<li>
<p><strong>To comply with law.</strong>&nbsp;We use your personal data as necessary to comply with applicable laws, including sanction requirements, accounting and tax obligations, legal processes or audits, to respond to subpoenas or legally binding requests from government authorities. Before disclosing any information to an authority upon its request, we check the validity of such request carefully.</p>
</li>
<li>
<p><strong>To negotiate, enter and perform agreements.</strong> We have to collect and process information about our counterparties and their representatives to negotiate and enter into legally valid agreements and cooperate with them.</p>
</li>
<li>
<p><strong>For compliance and safety.</strong>&nbsp;We use your personal data as we believe necessary or appropriate to (a) enforce the terms and conditions that govern the Service; (b) protect our rights, privacy, safety or property, and/or that of you or others; and (c) protect, investigate and deter against fraudulent, harmful, unauthorized, unethical or illegal activity.</p>
</li>
</ul>
<h3 id="4.-how-we-share-personal-data" tabindex="-1">4. How We Share Personal Data</h3>
<p>We do not sell your data to third parties for commercial or advertising purposes. We share your data as described in this Privacy Policy or upon obtaining your consent for such data sharing.</p>
<p>We disclose personal data to third parties under the following circumstances:</p>
<ul>
<li>
<p><strong>Service Providers.</strong>&nbsp;We employ third-party companies and individuals to help us with performance of certain activities, e.g. payment service providers. We also use third-party software to process data (e.g. CRM, email agent, cloud storage solutions, etc.).</p>
<p>These third parties are permitted to use personal data about you only to perform these tasks only for lawful business purposes in accordance with the terms of the agreement(s) we have in place with such service providers and for no other purpose.</p>
</li>
<li>
<p><strong>Professional Advisors.</strong>&nbsp;We may disclose your personal data to professional advisors, such as lawyers, bankers, auditors and insurers, where necessary in the course of the professional services that they render to us.</p>
</li>
<li>
<p><strong>Third-party Applications and Integrations.</strong> For the provision of the Service we receive and share data with integrations and apps linked by customers (Facebook, Instagram, Stripe, Paypal, etc.).</p>
</li>
<li>
<p><strong>Business Transfers.</strong>&nbsp;As we develop our business, we might sell or buy businesses or assets. In the event of a corporate sale, merger, reorganization, dissolution or similar event, personal data may be part of the transferred assets. You acknowledge and agree that any successor to or acquirer of RationalLife (or its assets) will continue to have the right to use your personal data and other information in accordance with the terms of this Privacy Policy. Further, RationalLife may also disclose aggregated personal data in order to describe our Service to prospective acquirers or business partners.</p>
</li>
<li>
<p><strong>Compliance with Laws and Law Enforcement.</strong>&nbsp;RationalLife may disclose information about you to government or law enforcement officials or private parties as required by law, and disclose and use such information as we believe necessary or appropriate to (a) comply with applicable laws and lawful requests and legal processes, such as to respond to subpoenas or requests from government authorities; (b) enforce the terms and conditions that govern the Service; (d) protect our rights, privacy, safety or property, and/or that of you or others; and (e) protect, investigate and deter against fraudulent, harmful, unauthorized, unethical or illegal activity.</p>
</li>
<!-- <li>
<p><strong>Corporate Affiliates</strong>. We may share personal data with our corporate affiliates. See the list at <a href="https://rationallife.pythonanywhere.com/legal/service-providers">www.rationallife.pythonanywhere.com/legal/service-providers</a>.</p>
</li> -->
</ul>
<h3 id="5.-your-data-protection-rights-%26-choices" tabindex="-1">5. Your Data Protection Rights &amp; Choices</h3>
<p>You have the following rights:</p>
<ul>
<li>If you wish to&nbsp;<strong>access</strong>&nbsp;your personal data that RationalLife collects, you can do so at any time by contacting us.</li>
<li>You can also contact us to <strong>update, correct or delete</strong>&nbsp;information in your account. </li>
</ul>
<p>You may submit your request by sending an email to&nbsp;<a href="mailto:privacy@rationallife.pythonanywhere.com">privacy@rationallife.pythonanywhere.com</a>. We will respond to all requests in accordance with applicable data protection laws.</p>
<p><strong>Access to Data Controlled by our Customers</strong>. We don’t have any direct relationships with customers’ Subscribers, i.e. the individuals whose personal data is stored by our customers the Service. An individual who seeks access, or who seeks to correct, amend, or delete personal data processed in the Service by our customers should direct their request to the customer directly.</p>
<h3 id="6.-for-how-long-we-retain-personal-data" tabindex="-1">6. For How Long We Retain Personal Data</h3>
<p>We will retain and process personal data until you terminate the Agreement with us as set forth under the Terms of Service.</p>
<p>We may also store some data during a retention period required by law or timeframe necessary to resolve disputes, prevent abuse, and enforce our agreements.</p>

<h3 id="12.-changes-to-our-privacy-policy" tabindex="-1">7. Changes to Our Privacy Policy</h3>
<p>We may need to change this Privacy Policy from time to time to reflect legal, technical or business developments. When we update our Privacy Policy, we will take appropriate measures to inform you before its entry into force, consistent with the significance of the changes we make. We will obtain your consent to any material Privacy Policy changes if and where this is required by data protection laws applicable to us.</p>
<p>You can see when this Privacy Policy was last updated by checking the “EFFECTIVE DATE” displayed at the top of this Privacy Policy. The new Privacy Policy will apply to all current and past users of the website and will replace any prior notices that are inconsistent with it.</p>
<h3 id="13.-how-to-contact-us" tabindex="-1">13. How to Contact Us</h3>
<p>If you require any more information or have any questions about our privacy policy, please feel free to contact us by email at&nbsp;<a href="mailto:privacy@rationallife.pythonanywhere.com.law">privacy@rationallife.pythonanywhere.com</a>.</p>
</div>
{% endblock %}