<div class="pop-up pop-up-center" id="pop-up">
    <div class="form-container">
        <h2>Add Instagram Username</h2>
        <form action="{{ url_for('users.add_instagram_username') }}" method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.instagram_username.label }} {{ form.instagram_username }}
            </div>
            
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
            {% if form.error %}
                <p class="text-danger">{{ form.error }}</p>
            {% endif %}
        </form>
    </div>
</div>
