<!-- Display flash messages -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}


<!-- Add user form -->
<form action="{{ url_for('main.signup') }}" method="POST">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}

    <!-- User name -->
    <div class="form-group">
        {{ form.name.label }}
        {{ form.name(class="form-control") }}
        {% if form.name.errors %}
            {% for error in form.name.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        {% endif %}
    </div>

    <!-- User email -->
    <div class="form-group">
        {{ form.email.label }}
        {{ form.email(class="form-control") }}
        {% if form.email.errors %}
            {% for error in form.email.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        {% endif %}
    </div>

    <!-- User phone number -->
    <div class="form-group">
        {{ form.phone.label }}
        {{ form.phone(class="form-control") }}
        {% if form.phone.errors %}
            {% for error in form.phone.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        {% endif %}
    </div>

    <!-- User password -->
    <div class="form-group">
        {{ form.password.label }}
        {{ form.password(class="form-control") }}
        {% if form.password.errors %}
            {% for error in form.password.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        {% endif %}
    </div>

    <!-- User address -->
     <div class="form-group">
        {{ form.country.label }} {{form.country}}
        {{ form.city.label }} {{form.city}}
     </div>

    <!-- User birthday-->
    <div class="form-group">
        {{ form.birthday.label }} {{form.birthday}}


    {{ form.submit(class="btn btn-primary") }}

</form>